# {{ ansible_managed }}
[Unit]
Description=gmrender-resurrect
After=network-online.target sound.target
Requires=network-online.target sound.target

[Service]
ExecStart=/usr/local/bin/gmediarender -f "{{ gmrender_resurrect_device_name }}" --gstout-audiosink=autoaudiosink --gstout-audiodevice=pulse --gstout-initial-volume-db=-10
User={{ gmrender_resurrect_user }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
